.navbar{
    background-color: #2D3435;
    padding: 0 10px;
    width: 100%;
}
.navbarIcons{
    width: 21px;
    height: 21px;
    margin-left: 12px;
}

.subnavbar{
    display: flex;
    justify-content: space-between;
    
    }